html {
	width: 100vw;
}

body {
	margin: 0;
	width: 100%;

	background-color: white;
	color: black;
	text-underline-offset: 0.3em;

	font-family: Courier, monospace;
	line-height: 140%;
	margin-bottom: 10em;
}

main {
	width: max-content;
	margin: 30px auto;
	max-width: 55ch;
}

@media screen and (max-width: 440px) {
	main {
		max-width: 90%;
	}
}

/* links should have the same color as normal text */
a,
a:link,
a:active,
a:visited,
a:hover {
	color: inherit;
	text-decoration-color: lightgrey;
}

ul, p, h1 {
	margin-top: 0;
	margin-bottom: 1em;
}

ul {
	padding-left: 2ch;
	list-style-type: "- ";
	list-style-position: outside;
}

ul ul {
	margin-bottom: 0;
}

h1, h2 {
	font-size: inherit;
	font-weight: bold;
}

h2 {
	margin-top: 2em;
	margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1b1b1b;
		color: white;
	}

	a:link,
	a:active,
	a:visited,
	a:hover {
		text-decoration-color: grey;
	}
}
