body {
    margin: 0;
    width: 100%;
    cursor: default;
    background-color: #fff;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.1em;
    line-height: 125%;
}

div {
    width: max-content;
    margin: 30px auto;
    max-width: 400px;
}

/* links should have the same color as normal text */
a:link,
a:active,
a:visited,
a:hover { color: inherit; }

/* don't show the ugly outline around the button */
button:focus { outline: none; }

@media screen and (max-width: 600px) {
    div { width: 90%; }
}

/* button should look like normal text */
button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}
