html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    width: 100%;
    background-color: white;
    font-family: Courier, monospace;
    line-height: 140%;
    color: black;
    text-underline-offset: 0.3em;
}

main {
    width: max-content;
    margin: 30px auto;
    max-width: 30em;
}

@media screen and (max-width: 440px) {
    main { max-width: 90%; }
}

/* links should have the same color as normal text */
a:link,
a:active,
a:visited,
a:hover {
    color: inherit;
}

/* don't show the ugly outline around the button */
button:focus { outline: none; }

/* button should look like normal text */
button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    margin-top: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
}

ul > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

h1, h2 {
    font-size: 1em;
    font-weight: bold;
}

h1 { margin-bottom: 1em; }
h2 { margin-bottom: 0em; }

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b1b1b;
        color: white;
    }

    a:link,
    a:active,
    a:visited,
    a:hover {
        text-decoration-color: grey;
    }
}
