<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
	<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="Yochem van Rosmalen">
	<meta name="theme-color" content="#1b1b1b" media="(prefers-color-scheme: dark)">
	<meta name="theme-color" content="lightgrey" media="(prefers-color-scheme: light)">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@yoch3m" />
	<meta name="twitter:creator" content="@yoch3m" />
	<meta name="twitter:title" content="{{ .Site.Title }}" />
	<meta name="twitter:description" content="Dutch AI student" />
	{{- if .Params.noindex -}}
	<meta name="robots" content="noindex" />
	{{- end -}}
	<link rel="stylesheet" href="{{ (resources.Get "css/style.css").RelPermalink }}">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
	<header aria-label="website title">
		<h1 aria-label="website title" lang="nl" translate="no">
		{{- if .IsHome -}}
		Yochem van Rosmalen</h1>
		{{- else -}}
		<a title="Back home" aria-label="homepage" href="/">Yochem van Rosmalen</a>
		{{- end -}}
		</h1>
	</header>

	<main>
	{{- block "content" . }}{{- end }}
	</main>
	{{ if not .IsHome }}
	<footer>
		<nav>

			<span id="totop" hidden><a title="Scroll to top of page" href="#">Top</a> |</span>
			<script>
				document.getElementById('totop').hidden = document.getElementsByTagName('body')[0].clientHeight < document.documentElement.clientHeight;
			</script>
			{{ if and (eq .Section "vim") (eq .Kind "page") }}
			<a aria-label="Vim blog post list" href="/vim/">Vim Posts</a> |
			{{ end }}
			<a aria-label="Back home" href="/">Home</a>
		</nav>
	</footer>
	{{ end }}
</body>
</html>
