html {
	width: 100vw;
	color: #1b1b1b;
	background-color: white;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #1b1b1b;
		color: white;
	}
}

body {
	margin: 0;
	width: 100%;
	text-underline-offset: 0.3em;
	font-family: Courier, monospace;
	line-height: 140%;
}

header, main, footer {
	/* width: max-content; */
	margin: 30px auto;
	width: 55ch;
	max-width: 65ch;
}

header {
	text-align: center;
}

main {
	min-width: 300px;
}

nav {
	text-align: center;
}

@media screen and (max-width: 440px) {
	header, main, footer {
		max-width: 90%;
	}
}

/* links should have the same color as normal text */
a,
a:link,
a:active,
a:visited {
	color: inherit;
	text-decoration-color: grey;
}

a:hover {
	color: grey;
}

@media (prefers-color-scheme: dark) {
	a:hover {
		color: lightgrey;
	}
}

h1 a {
	text-decoration: none;
}

ul, p, h1 {
	margin-top: 0;
	margin-bottom: 1em;
}

ul {
	padding-left: 2ch;
	list-style-type: "- ";
	list-style-position: outside;
}

ul ul {
	margin-bottom: 0;
}

h1, h2, h3 {
	font-size: inherit;
	font-weight: bold;
}

h2 {
	margin-top: 2em;
	margin-bottom: 0;
}

h3 {
	margin: 0;
}

h1#article-title {
	margin-bottom: 0;
}

time {
	color: grey;
	font-style:	italic;
}

@media (prefers-color-scheme: dark) {
	time {
		color: lightgrey
	}
}

code {
	font: inherit;
	font-size: 0.9rem;
}

@media print {
	body {
		background-color: #fff;
		color: black;
	}
}
