:root {
	--bg-color: #eeeeee;
	--fg-color: #1b1b1b;
	--code-color: #4a6d31;
	--detail-color: grey;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1b1b1b;
		--fg-color: #eeeeee;
		--code-color: #98c379;
		--detail-color: darkgrey;
	}
}

body {
	color: var(--fg-color);
	background-color: var(--bg-color);
	margin: 0;
	text-underline-offset: 0.3em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 1.05rem;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100svh;
}

header,
main,
footer {
	margin: 30px auto;
	max-width: 55ch;
}

main {
	min-width: 300px;
	flex: 1;
	width: 100%;
}

footer {
	width: 100%;
	margin-top: 0;
	margin-bottom: 3em;

	& nav {
		display: grid;
		grid-template-columns: 1fr repeat(20, auto);

		& a {

			&:first-child {
				justify-self: left;
			}

			&:not(:first-child) {
				justify-self: right;
				padding-left: 10px;
			}

			&:not(:first-child):not(:last-child) {
				padding-right: 10px;
			}
		}

	}

}

@media screen and (max-width: 440px) {

	header,
	main,
	footer {
		max-width: 90%;
	}

	footer {
		margin-bottom: 1em;
	}
}

hr {
	border-color: var(--bg-color);
}


/* links should have the same color as normal text */
a,
a:link,
a:active,
a:visited {
	color: inherit;
	text-decoration-color: var(--detail-color);
	text-decoration-thickness: 4%;
}

a:hover,
a[aria-current] {
	color: var(--detail-color);
}

h1 a,
h1 a[aria-current] {
	text-decoration: none;
	color: inherit;
}

ol,
ul,
p {
	margin-top: 0;
	margin-bottom: 1em;
}

ul {
	line-height: 1.8;
	padding-left: 1em;
	list-style-type: "– ";
	list-style-position: outside;
}

ol {
	padding-left: 3ch;
	list-style-position: outside;
}

ul ul,
ol ol {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: bold;
	margin-bottom: 0.1em;
}

h2 {
	margin-top: 2em;
	display: flex;
	align-items: center;

	svg {
		height: 1em;
		fill: var(--fg-color);
		margin-right: 0.5em;
	}

	&:first-of-type {
		margin-top: 0;
	}
}

h3 {
	margin: 0;
}

time {
	color: var(--detail-color);
	font-style: italic;
}

code {
	font: inherit;
	color: var(--code-color);
	tab-size: 4;
	max-width: 73vw;
	display: inline-flex;
	overflow-x: auto;
}

:not(pre)>code::before,
:not(pre)>code::after {
	content: '`';
	color: var(--detail-color);
}

pre {
	font-size: 0.9rem;
	margin-left: 4ch;
	background-color: transparent !important;
}

img {
	width: 100%;
}

blockquote {
	margin-left: 0;
	padding: 0 1em;
	border-left: 0.25em solid var(--fg-color);
	font-style: italic;
}

@media print {
	:root {
		--bg-color: white;
		--fg-color: black;
		--code-color: black;
		--detail-color: black;
	}

	body {
		font-size: 10pt;
	}

	footer {
		display: none;
	}
}
