<head>
	<title>{{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="Yochem van Rosmalen">
	<meta name="theme-color" content="1b1b1b">
	{{ $css := resources.Get "css/style.css" | minify }}
	<link href="{{ $css.RelPermalink }}" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	{{ range .AlternativeOutputFormats -}}
		<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
	{{ end -}}

	{{ if .IsHome }}
	<style>main { width: 55ch; }</style>
	{{ end }}
</head>
