<head>
	<title>{{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="Yochem van Rosmalen">
	<meta name="theme-color" content="lightgrey">
	<meta name="theme-color" content="#1b1b1b" media="(prefers-color-scheme: dark)">
	{{ $css := (resources.Get "css/style.css" | minify).RelPermalink }}
	<link rel="stylesheet" href="{{ $css }}">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@yoch3m" />
	<meta name="twitter:creator" content="@yoch3m" />
	<meta name="twitter:title" content="{{ .Site.Title }}" />
	<meta name="twitter:description" content="Dutch AI student" />
	{{ if .IsHome }}
	<style>main { width: 55ch; }</style>
	{{ end }}
</head>
